.App {
  /* text-align: center; */
  /* width: 750px; */
  /* margin-left: 65px; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.credit {
  color: green;
}

.debit {
  color: red;
}

.dname-date {
  display: flex;
  flex-direction: column;
}

.tdate {
  font-weight: 400;
}

.dname {
  color: #aaa;
  font-weight: 200;
  font-size: 14px;
}

.tamount {
  text-align: right;
  display: flex;
  flex-direction: column;
  font-size: 14px;

}

.tamount span {
  padding: 0 10px;
}

.tamount .balance {
  color: #aaa;
}

.transfer-button {
  width: 150px;
  background: #1976d2;
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-weight: 400;
  cursor: pointer;
}

.accounts-section {
  text-align: left;
  /* margin-left: 65px; */
  /* margin-top: 20px; */
}

.account-container.active  {
  background-color: #1976d2;
  color: #fff;
}

.active {
  background-color: #1976d2;
  color: #fff;
}

.active button {
  color: #fff;
}

.tran-label {
  margin-bottom: 20px;
  text-align: left;
  /* margin-left: 65px; */
  font-weight: 600;
}

.transaction-box {
  box-shadow: -6px -6px 9px -6px black;
}

.acc-transaction-section li {
  background-color: #eee;
  padding: 6px 10px;
}

.noof-transactions {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}


.aiia-bold,
.acc-label {
  font-weight: 600;
}

.transfer-section {
  text-align: left;
  /* margin-left: 65px; */
  display: grid;
  row-gap: 10px;
}

.account-block {
  display: flex;
}

.acc-view {
  display: none;
}

.acc-details-actions {
  background-color: #ddd;
  height: 36px;
}

.acc-details-actions Button:nth-child(even) {
  margin-left: 185px;
  
}

.transaction-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.actions {
  background-color: #333;
    color: #fff;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

.displayFlex {
  display: flex;
}

.consent__body__row {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
}

.btn-makepayment {
  height: 100%;
  width: 100%;
  display: grid;
}

.account-container:hover {
  background-color: #726969;
  position: relative;
}

.account-container:hover .acc-view {
  display: block;
    position: absolute;
    bottom: 5px;
    margin: 0 50px;
}

.account-container {
  color: #1976d2;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 150px;
  border: 2px solid #ddd;
  text-align: center;
  margin-top: 10px;
  justify-content: center;
  cursor: pointer;
  background: #444;
    color: #fff;
    padding: 10px;
    height: 150px;
    width: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.page {
  /* width: 100%;
    height: 100%; */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
}

.page__uppper {
  overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
  min-height: 83px;
    display: -ms-grid;
    display: grid;
    padding: 18px 30px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "brand close"
        "message message"
}

.scroll-area {
  display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
}

.scroll-area__main-content {
  margin: 0 30px;
  padding-block: 27px 30px;
}

.consent__body {
  background: #f5f5f5;
    padding: 10px 14px;
    border-radius: 6px;
    font-size: .875rem;
    line-height: 1rem;
}

.disclaimer {
  color: #555250;
    text-align: center;
}

.consent__header {
  margin: 0 0 8px;
}

.app-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.error{
  color: red;
  font-family: inherit;
  font-size: 14px;
}

button[type="submit"] {
  background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.header-content {
  display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}